@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}

<div class="card">
    <div class="card-body">
        <h4>iPhone 15</h4>
        <p>Giá: <strong>25,000,000</strong></p>

        <a href="/Product/ListAttributes/1" class="btn btn-secondary">
            Thuộc tính
        </a>

        <a href="/Product/ListPhoto/1" class="btn btn-info">
            Hình ảnh
        </a>
    </div>
</div>
