@{
    bool hideLayout = ViewData["HideLayout"] != null;
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>LiteCommerce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" href="~/lib/overlay-scrollbars/overlayscrollbars.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/adminlte/css/adminlte.css" />
</head>

<body class="layout-fixed fixed-header fixed-footer sidebar-expand-lg sidebar-open bg-body-tertiary">

    @if (!hideLayout)
    {
        <div class="app-wrapper">
            <!-- Header -->
            <partial name="_Header" />

            <!-- Sidebar -->
            <partial name="_SideBar" />

            <!-- Main -->
            <main class="app-main">
                @RenderBody()
            </main>

            <!-- Footer -->
            <partial name="_Footer" />
        </div>
    }
    else
    {
        <!-- Layout dành riêng cho Login -->
        <main class="login-page d-flex align-items-center justify-content-center min-vh-100">
            @RenderBody()
        </main>
    }

    <script src="lib/overlay-scrollbars/overlayscrollbars.browser.es6.min.js"></script>
    <script src="lib/popperjs/popper.min.js"></script>
    <script src="lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="module" src="lib/adminlte/js/adminlte.js"></script>

</body>

</html>