<section class="content-header mb-3">
    <h3 class="fw-bold">
        <i class="fa-solid fa-shield-halved me-2"></i> Phân quyền
    </h3>
</section>

<div class="container-fluid">
    <div class="card p-4">
        <form method="post">
            <div class="mb-3">
                <label class="form-label">Vai trò</label>
                <select class="form-select">
                    <option selected>Admin</option>
                    <option>Nhân viên</option>
                </select>
            </div>

            <div class="text-end">
                <a href="/Employee" class="btn btn-light">Quay lại</a>
                <button class="btn btn-secondary">
                    <i class="fa-solid fa-save"></i> Lưu
                </button>
            </div>
        </form>
    </div>
</div>
